@CHARSET "ISO-8859-1";


input {
	margin: 0 0 1em 10em;
	width: 250px;
	z-index: -1;
}

label {
	float: left;
	text-align: right;
	width: 1em;
}

table, th, td {
	border: 1px solid;
	border-collapse: collapse;
	width: 500px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
}


#Fieldset_Flugzeuginformationen {
	border: 2px solid green;	
	font-size: 120%;
}

#Legend_Flugzeuginformationen {
	font-size: 140%;
	font-weight: bold;
}

#Fieldset_Flugroute {
	border: 2px solid green;	
	font-size: 120%;
}

#Legend_Flugroute {
	font-size: 140%;
	font-weight: bold;
}

#Fieldset_Abflugflughafen {
	border: 2px solid green;	
	font-size: 120%;
}
#Legend_Abflugflughafen {
	font-size: 120%;
	font-weight: bold;
}

#Fieldset_Zielflughafen {
	border: 2px solid green;	
	font-size: 120%;
}

#Legend_Zielflughafen {
	font-size: 120%;
	font-weight: bold;
}

#Fieldset_Area {
	border: 2px solid green;	
	font-size: 120%;
}

#Legend_Area {
	font-size: 120%;
	font-weight: bold;
}

#Fieldset_Segment {
	border: 2px solid green;	
	font-size: 120%;
}

#Legend_Segment {
	font-size: 120%;
	font-weight: bold;
}

#datepicker1_Abflugflughafen { 
    vertical-align : top;
    width: 100px;
}

#datepicker2_Abflugflughafen { 
    vertical-align : top;
    width: 100px;
}

#datepicker3_Area { 
    vertical-align : top;
    width: 100px;
}

#datepicker4_Area { 
    vertical-align : top;
    width: 100px;
}

#datepicker5_Segment { 
    vertical-align : top;
    width: 100px;
}

#datepicker6_Segment { 
    vertical-align : top;
    width: 100px;
}

#datepicker7_Zielflughafen { 
    vertical-align : top;
    width: 100px;
}

#datepicker8_Zielflughafen { 
    vertical-align : top;
    width: 100px;
}

#Label_Datum_Anfang_Abflugflughafen {
	width: 1em;
	float: left;
}

#Label_Uhrzeit_Anfang_Abflugflughafen {
	position: absolute;
	left: 10cm;
}

#Textfield_Uhrzeit_Anfang_Abflugflughafen {
	position: absolute;
	left: 10cm;
	width: 100px;
}

#Label_Datum_Ende_Abflugflughafen {
	width: 1em;
	float: left;
}

#Label_Uhrzeit_Ende_Abflugflughafen {
	position: absolute;
	left: 10cm;
}

#Textfield_Uhrzeit_Ende_Abflugflughafen {
	position: absolute;
	left: 10cm;
	width: 100px;
}

#Label_Datum_Anfang_Area {
	width: 1em;
	float: left;
}

#Label_Uhrzeit_Anfang_Area {
	position: absolute;
	left: 10cm;
}

#Textfield_Uhrzeit_Anfang_Area {
	position: absolute;
	left: 10cm;
	width: 100px;
}

#Label_Datum_Ende_Area {
	width: 1em;
	float: left;
}

#Label_Uhrzeit_Ende_Area {
	position: absolute;
	left: 10cm;
}

#Textfield_Uhrzeit_Ende_Area {
	position: absolute;
	left: 10cm;
	width: 100px;
}

#Label_Datum_Anfang_Segment {
	width: 1em;
	float: left;
}

#Label_Uhrzeit_Anfang_Segment {
	position: absolute;
	left: 10cm;
}

#Textfield_Uhrzeit_Anfang_Segment {
	position: absolute;
	left: 10cm;
	width: 100px;
}

#Label_Datum_Ende_Segment {
	width: 1em;
	float: left;
}

#Label_Uhrzeit_Ende_Segment {
	position: absolute;
	left: 10cm;
}

#Textfield_Uhrzeit_Ende_Segment {
	position: absolute;
	left: 10cm;
	width: 100px;
}

#Label_Datum_Anfang_Zielflughafen {
	width: 1em;
	float: left;
}

#Label_Uhrzeit_Anfang_Zielflughafen {
	position: absolute;
	left: 10cm;
}

#Textfield_Uhrzeit_Anfang_Zielflughafen {
	position: absolute;
	left: 10cm;
	width: 100px;
}

#Label_Datum_Ende_Zielflughafen {
	width: 1em;
	float: left;
}

#Label_Uhrzeit_Ende_Zielflughafen {
	position: absolute;
	left: 10cm;
}

#Textfield_Uhrzeit_Ende_Zielflughafen {
	position: absolute;
	left: 10cm;
	width: 100px;
}

#Auswahl_Flugregeln_Abflugflughafen {
	position: absolute;
	left: 6cm;
	width: 70px;
}

#Auswahl_Wetterbedingungen_Abflugflughafen {
	position: absolute;
	left: 6cm;
	width: 70px;
}

#Auswahl_Flugregeln_Area {
	position: absolute;
	left: 6cm;
	width: 70px;
}

#Auswahl_Wetterbedingungen_Area {
	position: absolute;
	left: 6cm;
	width: 70px;
}

#Auswahl_Flugregeln_Segment {
	position: absolute;
	left: 6cm;
	width: 70px;
}

#Auswahl_Wetterbedingungen_Segment {
	position: absolute;
	left: 6cm;
	width: 70px;
}

#Auswahl_Flugregeln_Zielflughafen {
	position: absolute;
	left: 6cm;
	width: 70px;
}

#Auswahl_Wetterbedingungen_Zielflughafen {
	position: absolute;
	left: 6cm;
	width: 70px;
}
#Auswahl_Optionen_Karte {
	position: absolute;
	left: 11cm;
	width: 100px;
}

#Karte {
	height: 400px;
	width: 40%;
	position: absolute;
	left: 20cm;
	top: 26cm;
	z-index: -1;
}

#Label_Optionen_Karte {
	font-size: 120%;
}

#Submit {
	height: 50px;
	width: 100px;
	font-weight: bold;
	font-size: 150%;
	left: 1cm;
	position: absolute;
	margin: 0 0 1em 1em;
}

#Textfield_Auswahl_Flugregeln_Ablugflughafen {
	position: absolute;
	left: 2cm;
	width: 70px;
}

#Textfield_Auswahl_Wetterbedingungen_Ablugflughafen {
	position: absolute;
	left: 2cm;
	width: 70px;
}

#Textfield_Auswahl_Flugregeln_Area{
	position: absolute;
	left: 2cm;
	width: 70px;
}

#Textfield_Auswahl_Wetterbedingungen_Area {
	position: absolute;
	left: 2cm;
	width: 70px;
}

#Textfield_Auswahl_Flugregeln_Segment {
	position: absolute;
	left: 2cm;
	width: 70px;
}

#Textfield_Auswahl_Wetterbedingungen_Segment {
	position: absolute;
	left: 2cm;
	width: 70px;
}

#Textfield_Auswahl_Flugregeln_Zielflughafen {
	position: absolute;
	left: 2cm;
	width: 70px;
}

#Textfield_Auswahl_Wetterbedingungen_Zielflughafen {
	position: absolute;
	left: 2cm;
	width: 70px;
}
#Typ_Flugzeug {
	margin: 0 0 1em 10em;
	width: 250px;
	
}

#Startpunkt_Segment {
	width: 60px;
}

#Endpunkt_Segment {
	width: 60px;
}

#Startseite {
	font-weight: bold;
}




